body{
    background-color: rgb(100, 100, 100);
}


div table,th,td {
    border: solid brown 5px;
    border-collapse: collapse;
    color: black;
   font-size: 150%;
  
  
}

h1{
    color: black;
    text-align: center;
    font-size:  500%;
}

img{
    margin-left: 30%;
    width :40%
}

p{
    margin-left: 25%;
    font-size: 250%;
    
}
p,a{
   
    color: black;
}

.contuner1{
    margin-left: 50%;
  
   
}

.contuner2{
margin-right: 50%;
}

.contuner3{
    margin-left: 40%;
    }
    